<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="content-security-policy" content="upgrade-insecure-requests">
  <title></title>
</head>
<body>
  <div id="starchat-applz"></div>
  <script src="https://oss.chathot.me/action/js/library/vue.js"></script>
</body>
<!-- <script src="http://wechatfe.github.io/vconsole/lib/vconsole.min.js?v=3.2.0"></script>
<script>
    // init vConsole
    var vConsole = new VConsole();
</script>     -->
</html>